@import url("https://schoolweb.tn.edu.tw/uploads/fonts/woff2.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC|Noto+Serif+TC&display=swap");

.c {
    text-align: center;
    vertical-align: middle !important;
}

.r {
    text-align: right;
    vertical-align: middle !important;
}

.n {
    white-space: nowrap;
}

.m {
    vertical-align: middle !important;
}

h1.my,
h2.my,
h1>span.my,
h2>span.my {
    padding: 6px;
    /* 離標題邊框距離 */
    text-align: left;
    /* 文字靠左 */
    font-weight: normal;
    /* 不要粗體 */
    font-family: HanWangMingBlack, jf-openhuninn, 'Noto Sans TC', Mamelon;
    /* 字型 */
    background: -webkit-linear-gradient(rgb(8, 153, 64),rgb(18, 95, 168) );
    /* 漸層顏色 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

h3.my,
h4.my,
h5.my,
h3>span.my,
h4>span.my,
h5>span.my {
    padding: 6px;
    /* 離標題邊框距離 */
    text-align: left;
    /* 文字靠左 */
    font-weight: normal;
    /* 不要粗體 */
    font-family: jf-openhuninn, 'Noto Sans TC', Mamelon;
    /* 字型 */
    background: -webkit-linear-gradient(rgb(126, 92, 64), rgb(92, 41, 56));
    /* 漸層顏色 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-title {
    padding: 6px;
    /* 離標題邊框距離 */
    text-align: left;
    /* 文字靠左 */
    font-weight: normal;
    /* 不要粗體 */
    font-family: jf-openhuninn, 'Noto Sans TC', Mamelon;
    color: #3a322e;
}

.my-border {
    padding: 12px 20px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 8px;
    background: rgb(245, 245, 245);
    /* box-shadow: 0px 0px 6px 1px rgba(37, 37, 37, 0.2); */
    margin: 10px auto;
}

.my-sm-border {
    padding: 6px 10px 8px 10px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    background: rgb(245, 245, 245);
    margin: 10px auto;
}

ol {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 20px;
}

ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 20px;
}

.tooltip-inner {
    max-width: 600px;
    font-size: 0.95em;
    background-color: #830d48;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    line-height: 1.8;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #830d48 !important;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #830d48 !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #830d48 !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #830d48 !important;
}

.bar {
    text-align: center;
    margin: 3em auto;
}

.cal {
    background-image: url(../images/cal.png);
    background-repeat: no-repeat;
    background-position: 99% center;
}

.time {
    background-image: url(../images/time-and-date.png);
    background-repeat: no-repeat;
    background-position: 99% center;
}
